.a4{
    width: 400px;
    height: 300px;
    /* display: flex; */
    /* display: inline; */
}
.fill{
    color: red;
    font-size: 50px;
    margin-left: -100px;
    margin-top: -100px;
    position: relative;
    
}
.fill:hover{
    color: #f51c1c;
    /* box-shadow: 20px 20px 20px rgba(255, 0, 0, 0.429); */
}
.cart{
    font-size: 50px;
    font-weight: bold;
    margin-top: -60px;
    cursor: pointer;
    color: black;
}
.img{
    width: 200px;
    height: 100px;
    display: inline;
    cursor: pointer;
}
.row{
    display: inline-block;
    padding: 10px;
    /* pointer-events: none; */
    overflow: hidden;
    user-select: none;

}
.display{
    display: flex;
}
.color{
    color: white;
}
.button {
    height: 60px;
    width: 200px;
    background-color: #132233;
    border: 2px solid rgb(182, 128, 128);
    color: #eee;
    transition: .6s;
    font-size: 22px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    overflow: hidden;
    position: relative;
    margin-top: -60px;
    margin-left: 50px;
    
  }
  
  .button span {
    transform: translateX(10px);
    transition: .5s;
  }
  
  .button svg {
    transform: translateX(-300px);
    transition: .6s;
    z-index: 3;
    height: 50px;
  }
  
  .button:hover {
    /* width: 100px; */
    background-color: rgba(51, 34, 51, 0.815);
    box-shadow: 20px 20px 96px #bebebe,-20px -20px 96px #ffffff;
  }
  
  .button:hover svg {
    transform: translateX(-5px);
  }
  
  .button:hover span {
    transform: translateY(70px);
    font-size: .1rem;
  }
  .btn{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid black;
  }

  .btn {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 24px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    padding: 0;
   }
   
   .btn::before, .btn::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .btn::before {
    top: -1em;
    left: -1em;
   }
   
   .btn::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .btn:hover::before, .btn:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .btn:hover {
    color: rgb(10, 25, 30);
   }
   
   .btn:active {
    filter: brightness(.8);
   }
   .center{
    margin-left: 35%;
   }